@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model MVC_online_book_ticket.Models.Trips
@{
    var fina = ViewBag.financial;
}
<!-- ============================ Booking Page ================================== -->
<section class="pt-4 gray-simple position-relative">
    <div class="container">

        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div id="stepper" class="bs-stepper stepper-outline mb-5">
                    <div class="bs-stepper-header">
                        <!-- Step 1 -->
                        <div class="step active" data-target="#step-1">
                            <div class="text-center">
                                <button type="button" class="step-trigger mb-0" id="steppertrigger1">
                                    <span class="bs-stepper-circle">1</span>
                                </button>
                                <h6 class="bs-stepper-label d-none d-md-block">Tour Review</h6>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!-- Step 2 -->
                        <div class="step" data-target="#step-2">
                            <div class="text-center">
                                <button type="button" class="step-trigger mb-0" id="steppertrigger2">
                                    <span class="bs-stepper-circle">2</span>
                                </button>
                                <h6 class="bs-stepper-label d-none d-md-block">Quantity Guest</h6>
                            </div>
                        </div>
                        <div class="line"></div>

                        <!-- Step 3 -->
                        <div class="step" data-target="#step-3">
                            <div class="text-center">
                                <button type="button" class="step-trigger mb-0" id="steppertrigger3">
                                    <span class="bs-stepper-circle">3</span>
                                </button>
                                <h6 class="bs-stepper-label d-none d-md-block">Confirm</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="row align-items-start">
                    <div class="card p-3 mb-xl-0 mb-lg-0 mb-3">

                        <!-- Booking Info -->
                        <div class="card-box list-layout-block border br-dashed rounded-3 p-2">
                            <div class="row">

                                <div class="col-xl-4 col-lg-3 col-md">
                                    <div class="cardImage__caps rounded-2 overflow-hidden h-100">
                                        <img class="img-fluid h-100 object-fit" src="/img/trips/@Model.Image" alt="@Model.Image">
                                    </div>
                                </div>

                                <div class="col-xl col-lg col-md">
                                    <div class="listLayout_midCaps mt-md-0 mt-3 mb-md-0 mb-3">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="d-inline-block">
                                                <i class="fa fa-star text-warning text-xs"></i>
                                                <i class="fa fa-star text-warning text-xs"></i>
                                                <i class="fa fa-star text-warning text-xs"></i>
                                                <i class="fa fa-star text-warning text-xs"></i>
                                                <i class="fa fa-star text-warning text-xs"></i>
                                            </div>
                                        </div>
                                        <h4 class="fs-5 fw-bold mb-1">@Model.DepartureLocation to @Model.DestinationLocation</h4>
                                        <div class="d-flex align-items-center mb-3">
                                            <div class="col-auto text-start ps-2">
                                                <div class="text-md text-dark fw-medium">Price: $@Model.BasePrice</div>
                                                <div class="text-md text-muted-2">Distance: @Model.Distance km</div>
                                            </div>
                                        </div>
                                        <div class="position-relative mt-3">
                                            <div class="d-flex flex-wrap align-items-center">
                                                <div class="d-inline-flex align-items-center border br-dashed rounded-2 p-2 me-2 mb-2">
                                                    <div class="export-icon text-muted-2"><i class="fa-solid fa-bed"></i></div>
                                                    <div class="export ps-2">
                                                        <span class="mb-0 text-muted-2 fw-semibold me-1">03</span><span class="mb-0 text-muted-2 text-md">Beds</span>
                                                    </div>
                                                </div>
                                                <div class="d-inline-flex align-items-center border br-dashed rounded-2 p-2 me-2 mb-2">
                                                    <div class="export-icon text-muted-2"><i class="fa-solid fa-bath"></i></div>
                                                    <div class="export ps-2">
                                                        <span class="mb-0 text-muted-2 fw-semibold me-1">02</span><span class="mb-0 text-muted-2 text-md">Baths</span>
                                                    </div>
                                                </div>
                                                <div class="d-inline-flex align-items-center border br-dashed rounded-2 p-2 me-2 mb-2">
                                                    <div class="export-icon text-muted-2">
                                                        <i class="fa-solid fa-house-flood-water-circle-arrow-right"></i>
                                                    </div>
                                                    <div class="export ps-2">
                                                        <span class="mb-0 text-muted-2 fw-semibold me-1">5</span><span class="mb-0 text-muted-2 text-md">Floor</span>
                                                    </div>
                                                </div>
                                                <div class="d-inline-flex align-items-center border br-dashed rounded-2 p-2 me-2 mb-2">
                                                    <div class="export-icon text-muted-2"><i class="fa-solid fa-user-group"></i></div>
                                                    <div class="export ps-2 text-muted-2">
                                                        <span class="mb-0 text-muted-2 fw-semibold me-1">04</span><span class="mb-0 text-muted-2 text-md">Guests</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Flight info -->
                        <div class="flight-boxyhc mt-4">
                            <h4 class="fs-5">Flight Detail</h4>
                            <div class="flights-accordion">
                                <div class="flights-list-item bg-white border rounded-3 p-2">
                                    <div class="row gy-4 align-items-center justify-content-between">

                                        <div class="col">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12">
                                                    <div class="d-flex align-items-center mb-2">
                                                        <span class="label bg-light-primary text-primary me-2">Departure</span>
                                                        <span class="text-muted text-sm">26 Jun 2023</span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12">
                                                    <div class="row gx-lg-5 gx-3 gy-4 align-items-center">

                                                        <div class="col-sm-auto">
                                                            <div class="d-flex align-items-center justify-content-start">
                                                                <div class="d-start fl-pic">
                                                                    <img class="img-fluid" src="~/assets/img/air-4.png" width="45" alt="image">
                                                                </div>
                                                                <div class="d-end fl-title ps-2">
                                                                    <div class="text-dark fw-medium">Qutar Airways</div>
                                                                    <div class="text-sm text-muted">First Class</div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col">
                                                            <div class="row gx-3 align-items-center">
                                                                <div class="col-auto">
                                                                    <div class="text-dark fw-bold">@Model.DepartureDateTime.ToString("HH:mm")</div>
                                                                    <div class="text-muted text-sm fw-medium">Go time</div>
                                                                </div>

                                                                <div class="col text-center">
                                                                    <div class="flightLine departure">
                                                                        <div></div>
                                                                        <div></div>
                                                                    </div>
                                                                    <div class="text-muted text-sm fw-medium mt-3">Direct</div>
                                                                </div>

                                                                <div class="col-auto">
                                                                    <div class="text-dark fw-bold">@Model.DestinationDateTime.ToString("HH:mm")</div>
                                                                    <div class="text-muted text-sm fw-medium">Intend time @Model.DestinationDateTime</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Good to Know -->
                        <div class="flight-boxyhc mt-4">
                            <h4 class="fs-5">Route Trip</h4>
                            <div class="effloration-wrap">
                                <p>
                                    @Model.RouteTrip
                                </p>


                                <h4 class="fs-5">Financials</h4>
                                <ul class="row align-items-center g-1 mb-0 p-0">
                                @foreach (var item in fina)
                                {
                                    <li class="col-12">
                                        <span class="text-success text-md">
                                                <i class="fa-solid fa-circle-dot me-2"></i>@item.Title
                                        </span>
                                    </li>
                                   @*  <li class="col-12">
                                        <span class="text-muted-2 text-md">
                                            <i class="fa-solid fa-circle-dot me-2"></i>10 days: 100%
                                        </span>
                                    </li>
                                    <li class="col-12">
                                        <span class="text-muted-2 text-md">
                                            <i class="fa-solid fa-circle-dot me-2"></i>10 to 15 days: 75% + Non Refundable
                                            Component
                                        </span>
                                    </li>
                                    <li class="col-12">
                                        <span class="text-muted-2 text-md">
                                            <i class="fa-solid fa-circle-dot me-2"></i>15 to 30 days: 30% + Non Refundable
                                            Component
                                        </span>
                                    </li>
                                    <li class="col-12">
                                        <span class="text-success text-md">
                                            <i class="fa-solid fa-circle-dot me-2"></i>10Hotel / Air: 100% in case of non-refundable
                                            ticket / Hotel Room
                                        </span>
                                    </li>
                                    <li class="col-12">
                                        <span class="text-muted-2 text-md">
                                            <i class="fa-solid fa-circle-dot me-2"></i>10Cruise / Visa: On Actuals
                                        </span>
                                    </li> *@
                                    }
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="text-center d-flex align-items-center justify-content-center mt-4">
                    <a asp-area="" asp-action="Index" class="btn btn-md btn-dark fw-semibold mx-2">
                        <i class="fa-solid fa-arrow-left me-2"></i>Previous
                    </a>
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("EmployeesLoginToken") == null)
                    {
                        <a asp-action="ListAgencies"  class="btn btn-md btn-primary fw-semibold">
                            Next<i class="fa-solid fa-arrow-right ms-2"></i>
                        </a>
                    } 
                    else {
                    <a asp-area="" asp-controller="Reservations" asp-action="AddQuantityGuest" asp-route-id="@Model.TripsId" class="btn btn-md btn-primary fw-semibold">
                        Next<i class="fa-solid fa-arrow-right ms-2"></i>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================ Booking Page End ================================== -->
