@model IEnumerable<MVC_online_book_ticket.Models.Accounts>

@{
    int index = 1;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="d-flex card-title fw-semibold mb-4">List Accounts</h5>
                <div class="row">
                    <div class="col-sm-2 col-xl-2">
                        <a asp-action="Create" class="d-flex btn btn-outline-link m-1 text-primary">Add a Account</a>
                    </div>
                    <div class="col-sm-6 col-xl-6 ">
                        <form class="d-flex">
                            <div class="form-group mb-0 me-2">
                                <input type="text" class="form-control" placeholder="Input text" aria-describedby="helpId">
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Id</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@Html.DisplayNameFor(model => model.Username)</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">@Html.DisplayNameFor(model => model.Name)</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </h6>
                                </th>
                                <th class="border-bottom-0">
                                    @Html.DisplayNameFor(model => model.Avatar)
                                </th>
                                <th class="border-bottom-0">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                            <tr>
                                <td class="border-bottom-0"><h6 class="fw-semibold mb-0">
                                    @index
                                </h6></td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                            @Html.DisplayFor(modelItem => item.Username)
                                    </h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                            @Html.DisplayFor(modelItem => item.Phone)
                                    </h6>
                                </td>
                                <td class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">
                                            <img src="/img/@item.Avatar" alt="@item.Avatar" width="100"; height="100"; />
                                    </h6>
                                </td>
                                <td class="border-bottom-0">
                                    <a asp-action="Edit" asp-route-id="@item.AccountsId" class="badge bg-primary rounded-3 fw-semibold">Edit</a>|
                                    <a asp-action="Details" asp-route-id="@item.AccountsId" class="badge bg-success rounded-3 fw-semibold">Detail</a>|
                                    <a asp-action="Delete" asp-route-id="@item.AccountsId" class="badge bg-danger rounded-3 fw-semibold">Delete</a>
                                </td>
                            </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

